.App {
  text-align: center;
  }

  header{
    height: 250px;
    background-color: red;

  }

  .content{
    display: flex;
    height: 400px;

  }
  .main{
    width: 80%;
    background-color: yellow;
    background-image: url("logo.svg");
    background-size: contain;
  }

  .main button{
    padding: 10px 20px;
    margin: 20px 20px;
  }

  aside{
    width: 20%;
    background-color:green ;
  }

  footer{
    height: 200px;
    background-color: blue;
  }
